<!-- banner + text -->
<div class="w3-display-container w3-opacity-min" id="{{- section.DIVid -}}">
    <picture>
        <img src="{{- section.img-ref -}}"
             alt="{{- section.img-alt -}}"
             style="width: 100%;
                    max-height:{{- section.img-maxhght -}};
                    object-fit:cover;"
        />
    </picture>
    {%- if section.txt-type == "TAG" -%}
    <div class="w3-display-middle" style="white-space:nowrap;">
        <span class="w3-hide-small w3-hide-medium w3-center w3-padding-large w3-light-grey w3-xxlarge w3-wide w3-animate-opacity">{{- section.txt | upcase -}}</span>
        <span class="w3-hide-large w3-center w3-padding-large w3-light-grey w3-xlarge w3-wide w3-animate-opacity">{{- section.txt | upcase -}}</span>
    </div>
    {%- elsif section.txt-type == "HDR" -%}
    <div class="w3-display-left w3-padding-large w3-wide w3-opacity-off">
        <h1 class="w3-hide-small w3-hide-medium w3-jumbo w3-text-white"><b>{{- section.txt | upcase -}}</b></h1>
        <h1 class="w3-hide-large w3-xxlarge w3-text-white"><b>{{- section.txt | upcase -}}</b></h1>
    </div>
    {%- elsif section.txt-type == "LOGO" -%}
    <div class="w3-display-middle" style="white-space:nowrap;">
        <img src="{{- section.logo-ref -}}" class="w3-round" alt="{{- section.logo-alt -}}">
    </div>
    {%- elsif section.txt-type == "CARD" -%}
    <!-- case large and medium screens -->
    <div class="w3-hide-small w3-display-topleft w3-padding-large w3-wide w3-opacity-off" style="max-width: 500px;">
        <br><br><br>
        <div class="w3-sand w3-left-align w3-opacity w3-container w3-padding">
            <h1>{{- section.txt | upcase -}}</h1>
            <p class="w3-large">{{- section.claim -}}</p>
            <div class="w3-panel w3-card-4 w3-white w3-center"  style="max-width: 400px;">
                <p>
                  Email:&nbsp;{{- section.email -}}
                </p>
              </div>
        </div>
    </div>
    <!-- case small screens -->
    <div class="w3-hide-medium w3-hide-large w3-display-topleft w3-padding w3-opacity-off">
        <h1 class="w3-left-align w3-text-dark-grey w3-wide"><b>{{- section.txt | upcase -}}</b></h1>
        <div class="w3-sand w3-left-align w3-opacity w3-container w3-padding">
            <p>{{- section.claim -}}</p>
            <div class="w3-panel w3-card-4 w3-white w3-center"  style="max-width: 400px;">
                <p>
                  Email:&nbsp;{{- section.email -}}
                </p>
              </div>
        </div>
    </div>
    {%- else -%}
    {%- endif -%}
</div>
<!-- /banner + text -->

{% comment %}

Section features:
Image is a responsive banner, with min opacity, not hoverable
Text is an uppercase tag, bigger for large screens 

Variables:

section.DIVid           DIV id
section.img-ref         image URL
section.img-alt         image ALT text
section.img-maxhght     image max-height e.g.: 400px or 100%
section.logo-ref        logo URL
section.logo-alt        logo ALT text
section.txt             header text
section.txt-type        either HDR for header or TAG for tag or LOGO for logo
+ extras for card

{% endcomment %}