{% comment %}
Row element for text only, center-aligned with large text left-aligned
{% endcomment %}
<!-- row -->
<div class="w3-row w3-center">
<!-- content -->
<div class="w3-content w3-padding-large w3-auto w3-left-align w3-large">
<h2 class="w3-left-align" id="{{- section.id -}}">{{- section.title -}}</h2>
{{- section.content -}}
</div>
<!-- /content -->
</div>
<!-- /row -->