<div class="w3-container w3-blue-grey w3-row w3-small w3-center">

    <div class="w3-third">
        <p>Solutions Consulting S.r.l. S.t.p. | P.IVA 0000000000 - REA TS XYZXYZ</p>
    </div>
        
    <div class="w3-third">
        <p><a href="#"><i class="fas fa-arrow-up"></i> Torna su</a></p>
    </div>

    <div class="w3-third">
        <p>
            &copy;&nbsp;2020 Solcons | 
            <span class="w3-tiny">
                Credits:&nbsp;<i class="fab fa-gitlab" aria-hidden="true"></i><a href="https://gitlab.com/malmerig" style="text-decoration: none;">&nbsp;malmerig</a>
            </span>
        </p>
    </div>

</div>
<!-- /footer -->