<!-- navbar large screens -->
<nav class="w3-bar w3-light-grey w3-small w3-text-blue-grey w3-hide-small w3-hide-medium">
  <a href="https://solcons.onrender.com" class="w3-bar-item w3-button"><i class="fas fa-home"></i> HOME</a>
  <a href="https://solcons.onrender.com/servizi" class="w3-bar-item w3-button"><i class="fas fa-briefcase"></i> SERVIZI</a>
  <a href="#" class="w3-bar-item w3-button"><i class="fas fa-user"></i> TEAM</a>
  <a href="https://solcons.onrender.com/normativa" class="w3-bar-item w3-button"><i class="fas fa-gavel"></i> NORMATIVA</a>
  <a href="#" class="w3-bar-item w3-button"><i class="fas fa-envelope"></i> CONTATTI</a>
  <span class="w3-bar-item w3-right" style="font-family:Vollkorn SC;">Solutions Consulting</span>
</nav>

<!-- navbar small and medium screens -->
<nav class="w3-hide-large">
  <div class="w3-container w3-white">
    <div class="w3-bar">
        <a href="javascript:void(0)" class="w3-bar-item w3-button" onclick="myFunction()"><i class="fas fa-bars"></i></a>
        <span class="w3-bar-item w3-right" style="font-family:Vollkorn SC;">Solutions Consulting</span>
    </div>
      
    <div id="navbar1" class="w3-bar-block w3-hide w3-left">
        <a href="https://solcons.onrender.com" class="w3-bar-item w3-button"><i class="fas fa-home"></i> HOME</a>
        <a href="https://solcons.onrender.com/servizi" class="w3-bar-item w3-button"><i class="fas fa-briefcase"></i> SERVIZI</a>
        <a href="#" class="w3-bar-item w3-button"><i class="fas fa-user"></i> TEAM</a>
        <a href="https://solcons.onrender.com/normativa" class="w3-bar-item w3-button"><i class="fas fa-gavel"></i> NORMATIVA</a>
        <a href="#" class="w3-bar-item w3-button"><i class="fas fa-envelope"></i> CONTATTI</a>       
    </div>
</div>

</nav>