<head>
    <!-- styling -->
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://solcons.onrender.com/assets/CSS/main.css">
    <!-- JavaScript librares -->
    <script src="https://www.w3schools.com/lib/w3.js"></script>
    <script src="https://kit.fontawesome.com/a3a30eef1a.js" crossorigin="anonymous"></script>
    <script src="https://solcons.onrender.com/assets/JS/myScript.js"></script>
</head>