<!DOCTYPE HTML>
<html lang="it">
{% include head.html %}
<body>
<!-- Header -->
{% include header.html %}
<!-- Content -->
{{- content -}}
<!-- Footer -->
{% include footer.html %}
<!-- End of page JS scripts -->

</body>
</html>