---
layout: default
---
{%- assign sections = site.sections  | where: 'page', 'homepage-top' -%}
{%- for section in sections -%}
  {%- if section.include != null -%}
    {%- include {{ section.include }} -%}
  {%- endif -%}
{%- endfor -%}

<!-- content: fixed width space -->
<div class="w3-content w3-white" style="max-width:1200px">

<!-- container -->
<div class="w3-padding w3-left-align w3-transparent w3-container">
      
    <!-- row -->
    <div class="w3-row">
        {%- assign services = site.services -%}
        {%- for service in services limit:3 -%}
            <div class="w3-third w3-container">
                <h3 class="w3-text-brown">{{- service.title -}}</h3>
                <span class="w3-large">{{- service.excerpt -}}</span>
            </div>
        {%- endfor -%}
    </div>
    <!-- /row -->

    <!-- row -->
    <div class="w3-row">
        {%- assign services = site.services -%}
        {%- for service in services offset:2 limit:3 -%}
            <div class="w3-third w3-container">
                <h3 class="w3-text-brown">{{- service.title -}}</h3>
                <span class="w3-large">{{- service.excerpt -}}</span>
            </div>
        {%- endfor -%}
    </div>
    <!-- /row -->

    <!-- row -->
    <div class="w3-row">
        <div class="w3-container w3-center">
            <a class="w3-button w3-brown w3-round" href="/servizi">Scopri tutti i servizi</a>
        </div>
    </div>
    <!-- /row -->
</div>
<!-- /container -->

<br>

<!-- container -->
<div class="w3-padding w3-left-align w3-transparent w3-container">
    <h2 class="w3-text-dark-grey">Professionalità</h2>
    <!-- row -->
    <div class="w3-row-padding w3-stretch">
        <div class="w3-third w3-container w3-center w3-padding">
            <img src="https://res.cloudinary.com/assaporami/image/upload/c_thumb,w_150,g_face/v1586273460/solcons/repubblica-italiana-logo-black-and-white_f1t4ay.png" class="w3-image" alt="Repubblica Italana">
            <h3 class="w3-text-brown">adempimenti fiscali</h3>
            <p class="w3-large">Siamo sempre aggiornati sulle<br>modifiche della normativa fiscale</p>
        </div>
        <div class="w3-third w3-container w3-center w3-padding">
            <img src="https://res.cloudinary.com/assaporami/image/upload/c_thumb,w_150,g_face,e_grayscale/v1586269169/solcons/ordine-dei-dottori-commercialisti_yoq5lk.png" class="w3-image" alt="Ordine dei Dottori Commercialisti">
            <h3 class="w3-text-brown">dottori commercialisti</h3>
            <p class="w3-large">I nostri professionisti sono Dottori Commercialisti iscritti all'Albo</p>
        </div>
        <div class="w3-third w3-container w3-center w3-padding">
            <img src="https://res.cloudinary.com/assaporami/image/upload/c_thumb,w_150,g_face/v1586277755/solcons/CAAF_hua6al.png" class="w3-image" alt="CAAF">
            <h3 class="w3-text-brown">assistenza fiscale</h3>
            <p class="w3-large">Siamo un centro autorizzato<br>di assistenza fiscale</p>
        </div>
    </div>
    <!-- /row -->
</div>
<!-- container -->
</div>
<!-- content -->
