---
layout: default
---
{%- assign sections = site.sections  | where: 'page', 'memos-top' -%}
{%- for section in sections -%}
  {%- if section.include != null -%}
    {%- include {{ section.include }} -%}
  {%- endif -%}
{%- endfor -%}
<!-- content: fixed width space -->
<br>
<div class="w3-content w3-white" style="max-width:1200px">
  {% for post in site.posts %}

  <!-- Blog entry -->
  <div class="w3-container w3-white w3-margin w3-padding-large">

  <!-- 1st row: title, abstract and date -->
  <div class="w3-row w3-center">
    <h3>{{ post.title}}</h3>
    {%- if post.subtitle -%}
    <h5 title="descrizione">{{ post.subtitle }}&nbsp;<span title="data" class="w3-opacity w3-hide-small w3-hide-medium">
      <i class="fas fa-calendar-day"></i>&nbsp;
      {%- assign m = post.date | date: "%-m" -%}
          {{- post.date | date: "%-d " -}}
          {%- case m -%}
              {% when '1' %}gennaio
              {% when '2' %}febbraio
              {% when '3' %}marzo
              {% when '4' %}aprile
              {% when '5' %}maggio
              {% when '6' %}giugno
              {% when '7' %}luglio
              {% when '8' %}agosto
              {% when '9' %}settembre
              {% when '10' %}ottobre
              {% when '11' %}novembre
              {% when '12' %}dicembre
          {%- endcase -%}
          {{- post.date | date: " %Y" -}}
    </span></h5>
    <h5 title="data" class="w3-opacity w3-hide-large">
        <i class="fas fa-calendar-day"></i>&nbsp;
      {%- assign m = post.date | date: "%-m" -%}
          {{- post.date | date: "%-d " -}}
          {%- case m -%}
              {% when '1' %}gennaio
              {% when '2' %}febbraio
              {% when '3' %}marzo
              {% when '4' %}aprile
              {% when '5' %}maggio
              {% when '6' %}giugno
              {% when '7' %}luglio
              {% when '8' %}agosto
              {% when '9' %}settembre
              {% when '10' %}ottobre
              {% when '11' %}novembre
              {% when '12' %}dicembre
          {%- endcase -%}
          {{- post.date | date: " %Y" -}}
    </h5>
    {%- endif -%}
  </div>

  <!-- 1st and a half row: author -->
  <div class="w3-row">
      <h5 class="w3-center"><i class="fas fa-user"></i> {{ post.author}}</h5>
  </div>
  <!-- 2nd row: image and abstract -->
  <div class="w3-row">
    {%- if post.img-href -%}
    <div class="w3-container w3-col l5 m12 s12">
      <img src="{{ post.img-href }}" alt="{{ post.img-alt }}" style="width:100%" class="w3-padding-16 w3-image w3-opacity-min w3-round-small" title="immagine">
    </div>
    {%- endif -%}
    
    <div title="abstract" class="w3-container w3-rest w3-padding-16 w3-justify w3-large">
      {{ post.excerpt }}
    </div>
  </div>

  <!-- 3rd row: "like" and "more" buttons -->
  <div class="w3-row">
    <div class="w3-container">
      <p class="w3-right"><a class="w3-button w3-black" href="{{ post.url }}"><b>Leggi di più</b></a></p>
      <p class="w3-clear"></p>
    </div>
  </div>
  
  </div><!-- /Blog entry -->
  <hr>  <!-- spacer -->

  {% endfor %}

</div>