---
layout: default
---
{%- assign sections = site.sections  | where: 'page', 'memos-top' -%}
{%- for section in sections -%}
  {%- if section.include != null -%}
    {%- include {{ section.include }} -%}
  {%- endif -%}
{%- endfor -%}
<!-- article container: fixed size, centered content, wrapped around the whole page content, except for the footer -->
<article class="w3-content w3-white" style="max-width:800px">
    <!-- blog post 1st row: title, description and date -->
    <div class="w3-row w3-padding w3-left-align">
        <h2>{{- page.title -}}</h2>
        <h5 title="sottotitolo">{%- if page.subtitle -%}{{- page.subtitle -}}{%- endif -%}
        <span title="data" class="w3-opacity w3-hide-medium w3-hide-small">&nbsp;&nbsp;<i class="fas fa-calendar-day"></i>&nbsp;
            {%- assign m = page.date | date: "%-m" -%}
            {{- page.date | date: "%-d " -}}
            {%- case m -%}
                {% when '1' %}gennaio
                {% when '2' %}febbraio
                {% when '3' %}marzo
                {% when '4' %}aprile
                {% when '5' %}maggio
                {% when '6' %}giugno
                {% when '7' %}luglio
                {% when '8' %}agosto
                {% when '9' %}settembre
                {% when '10' %}ottobre
                {% when '11' %}novembre
                {% when '12' %}dicembre
            {%- endcase -%}
            {{- page.date | date: " %Y" -}}
        </span><i class="fas fa-user"></i>&nbsp;{{- page.author -}}
        </h5>
        <h5 title="data" class="w3-opacity w3-hide-large">
            <i class="fas fa-calendar-day"></i>&nbsp;
            {%- assign m = page.date | date: "%-m" -%}
            {{- page.date | date: "%-d " -}}
            {%- case m -%}
                {% when '1' %}gennaio
                {% when '2' %}febbraio
                {% when '3' %}marzo
                {% when '4' %}aprile
                {% when '5' %}maggio
                {% when '6' %}giugno
                {% when '7' %}luglio
                {% when '8' %}agosto
                {% when '9' %}settembre
                {% when '10' %}ottobre
                {% when '11' %}novembre
                {% when '12' %}dicembre
            {%- endcase -%}
            {{- page.date | date: " %Y" -}}
            &nbsp;<i class="fas fa-user"></i>&nbsp;{{- page.author -}}
        </h5>
    </div><!-- /1st row -->
    
    {%- if page.img-href -%}
    <!-- blog post 2nd row -->
    <div class="w3-row w3-padding-16">
        <!-- 1st col: image -->
        <div class="w3-col l12 m12 s12 w3-padding w3-padding-12">
         <img src="{{ page.img-href }}" alt="{{ page.img-alt }}" style="width:100%" class="w3-image">
        </div><!-- /1st col -->
    </div><!-- /2nd row -->
    {%- endif -%}
      
    <!-- blog post 3rd row -->
    <div class="w3-row w3-padding w3-justify w3-large">
        {{ content }}
    </div><!-- /3rd row -->

    <!-- blog post row interstitial -->
    <div class="w3-row w3-padding"></div>
      
    <!-- blog post 4th row: TAGS + LIKE button -->
    <div class="w3-row">
        <div class="w3-left w3-padding">
            {% if page.tags.size > 0 %}
                {% for tag in page.tags %}
                <span class="w3-tag w3-black w3-small w3-margin-bottom">{{ tag }}</span>
                {% endfor %}
            {% endif %}
        </div>
        <div class="w3-right">
            <button class="w3-button w3-white w3-border" onclick="likeFunction(this)"><b><i class="fa fa-thumbs-up"></i> Like</b></button>
        </div>
          <p class="w3-clear"></p>
    </div>
      
    <!-- blog post row interstitial -->
    <div class="w3-row w3-padding"></div>
      
</article><!-- /article container -->