---
layout: default
---
{%- assign sections = site.sections  | where: 'page', 'services-top' -%}
{%- for section in sections -%}
  {%- if section.include != null -%}
    {%- include {{ section.include }} -%}
  {%- endif -%}
{%- endfor -%}
<!-- content: fixed width space -->
<div class="w3-content w3-white" style="max-width:800px">
<!-- container -->
<div class="w3-padding w3-left-align w3-container">
<h1>{{- page.title -}}</h1>
<!-- row -->
<div class="w3-row w3-large">
{{- page.content -}}
</div>
<!-- /row -->
</div>
<!-- /container -->
</div>
<!-- /content -->