---
layout: default
---
{%- assign sections = site.sections  | where: 'page', 'services-top' -%}
{%- for section in sections -%}
  {%- if section.include != null -%}
    {%- include {{ section.include }} -%}
  {%- endif -%}
{%- endfor -%}
<!-- content: fixed width space -->
<br>
<div class="w3-content w3-white" style="max-width:1200px">

<!-- container -->
<div class="w3-padding w3-left-align w3-container">
    {%- assign services = site.services -%}
    {%- for n in services -%}
        {%- assign printer = forloop.index | modulo: 3 -%}
        {% if printer == 1 %}
        <!-- row -->
        <div class="w3-row">
            {%- assign off7 = forloop.index | minus:1 -%}
            {% for service in services limit:3 offset:off7 %}
            <!-- col -->
            <div class="w3-third w3-container">
                <a class="w3-button w3-block w3-light-grey" href="{{ service.url }}">
                <h3 class="">{{- service.title -}}</h3>
                </a>
                <span class="w3-large">{{- service.excerpt -}}</span>
            </div>
            <!-- /col -->
            {%- endfor -%}
        </div>
        <!-- /row -->
        {%- endif -%}
    {%- endfor -%} 
</div>
<!-- /container -->

</div>
<!-- /content -->